<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Hello HTML</title>
	<link rel="stylesheet" href="/public/style.css">
</head>

<body>
	<h1>Hello, HTML.</h1>
	<p>Do not use until Challenge #12</p>
	<form action="/create-person" method="post">
		<label>Name :</label>
		<input type="text" name="name" value="John Doe"><br>
		<label>Age :</label>
		<input type="text" name="age" value=""><br><br>
		<label>Favorite Foods :</label>
		<input type="text" name="favorite_foods" placeholder="mangoes, watermelon, plums,...."><br><br>
		<input type="submit" value="Submit">
	</form>
	<img src="/public/image.png" alt="my image" />
</body>

</html>